.modal__content_type_image {
  padding: 0;
  background-color: #fff;
  display: flex;
  position: relative;
  max-width: 498px;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.modal__close-button {
  background-color: transparent;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.modal__captions {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

.modal__card-name {
  margin: 0;
  padding-bottom: 12px;
  padding-top: 20px;
}

.modal__card-weather {
  margin: 0;
  padding-bottom: 32px;
}

.modal__delete-button {
  border: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ff4d00;
  background-color: transparent;
  margin-right: 32px;
  margin-bottom: 25px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 40px;
  right: 5px;
}
