.modal .modal__remove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 670px;
  background-color: #fff;
  padding-left: 123px;
  padding-right: 122px;
  padding-bottom: 60px;
}

.modal__content_remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 670px;
  width: 100%;
  box-sizing: border-box;
  min-height: 280px;
}

.modal__remove-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal__remove-warning-text {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 32px;
}

.modal__remove_warning-text_fix {
  padding: 0;
}

.modal__remove-buttons {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__remove-button-delete {
  margin-bottom: 24px;
  margin-top: 40px;
  color: #ff4d00;
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal__remove-button-cancel {
  color: #000;
  border: none;
  padding: 0;
  background-color: transparent;
}
